@font-face {
  font-family: "ggsans";
  src: url(ggsansRegular.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  --servers-section-size: 73px;
  --content-left-size: 240px;
  --section-divider-color: #0f101149;
  --font-color: #949ba4;
  --status-online: rgb(64, 179, 64);
  --button-hover-color: #34373a;
  font-family: ggsans;
}

.App {
  display: flex;
  background-color: #1c1d1e;
}

.servers {
  background-color: #1c1d1e;
  height: 100vh;
  width: var(--servers-section-size);
}

.content {
  background-color: #2f3136;
  height: 100vh;
  flex-basis: calc(100% - var(--servers-section-size));
  border-top-left-radius: 10px;
  display: flex;
}

.left {
  background-color: #292b2f;
  height: 100vh;
  border-top-left-radius: 10px;
  width: var(--content-left-size);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(17, 1fr);
  grid-template-areas:
    "sbc"
    "fc"
    "bc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "dmc"
    "uic";
}

.left-test-server {
  background-color: #292b2f;
  height: 100vh;
  border-top-left-radius: 10px;
  width: var(--content-left-size);
}

.right {
  flex-basis: calc(100% - var(--content-left-size));
  height: 100vh;
}

.right-test-server {
  flex-basis: calc(100% - var(--content-left-size));
  height: 100vh;
}

.search-button-container {
  grid-area: sbc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--section-divider-color);
}

.friends-container {
  grid-area: fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.birthday-container {
  grid-area: bc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direct-messages-container {
  grid-area: dmc;
}

.user-info-container {
  grid-area: uic;
  background-color: #232428;
}

.conversation-search {
  background-color: #1b1d20;
  flex-basis: 92%;
  height: 55%;
  border-radius: 4px;
  border: none;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--font-color);
  line-height: 24px;
}

.logo-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-container-2 {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.logo-container:before {
  content: "";
  position: absolute;
  left: 27.5%;
  bottom: 0;
  height: 1px;
  width: 45%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.334);
}

.logo-unhovered {
  width: 69.5%;
  margin-top: 5px;
  filter: brightness(85%);
  animation-name: logo-brightness-exit;
  animation-duration: 0.3s;
}

.logo-hovered {
  width: 69.5%;
  margin-top: 5px;
  filter: brightness(100%);
  animation-name: logo-brightness-enter;
  animation-duration: 0.3s;
}

.logo-highlighted {
  width: 69.5%;
  margin-top: 5px;
  filter: brightness(100%);
}

.logo-container button:active {
  margin-top: 2px;
}

.logo-button-hovered {
  background-color: #5865f2;
  border-radius: 35%;
  width: 66.5%;
  border: none;
  height: 68%;
  animation-name: logo-button-transition-enter;
  animation-duration: 0.3s;
}

.logo-button-hovered-2 {
  background-size: cover;
  border-radius: 35%;
  width: 66.5%;
  border: none;
  height: 68%;
  animation-name: logo-button-transition-enter-2;
  animation-duration: 0.3s;
}

.logo-button-unhovered {
  background-color: #313338;
  width: 66.5%;
  border: none;
  height: 68%;
  border-radius: 50%;
  animation-name: logo-button-transition-exit;
  animation-duration: 0.3s;
}

.logo-button-unhovered-2 {

  background-size: cover;
  width: 66.5%;
  border: none;
  height: 68%;
  border-radius: 50%;
  animation-name: logo-button-transition-exit-2;
  animation-duration: 0.3s;
}

.logo-button-highlighted {
  background-color: #5865f2;
  border-radius: 35%;
  width: 66.5%;
  border: none;
  height: 68%;
}

.logo-button-highlighted-2 {
 
  background-size: cover;
  border-radius: 35%;
  width: 66.5%;
  border: none;
  height: 68%;
}

.white-blob-hovered {
  position: fixed;
  width: 18px;
  height: 20px;
  background-color: white;
  left: -14px;
  border-radius: 5px;
  animation-name: white-blob-enter;
  animation-duration: 0.3s;
}

.white-blob-unhovered {
  position: fixed;
  width: 0px;
  height: 0px;
  left: -14px;
  background-color: white;
  border-radius: 5px;
  animation-name: white-blob-exit;
  animation-duration: 0.3s;
}

.white-blob-unhovered-2 {
  position: fixed;
  width: 0px;
  height: 0px;
  left: -14px;
  background-color: white;
  border-radius: 5px;
  animation-name: white-blob-unclick;
  animation-duration: 0.3s;
}

.white-blob-highlighted {
  position: fixed;
  width: 18px;
  height: 40px;
  background-color: white;
  left: -14px;
  border-radius: 5px;
  animation-name: white-blob-clicked;
  animation-duration: 0.3s;
}

.left-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.friends img {
  width: 42%;
  margin-right: 5px;
  filter: brightness(85%);
}

.discord-birthday img {
  width: 45%;
  margin-right: 5px;
}

.left-button-container p {
  flex-basis: 85%;
  text-align: left;
}

.button-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
}

.left-button-container button {
  display: flex;
  background-color: #292b2f;
  border: none;
  color: var(--font-color);
  font-size: 16px;
  flex-basis: 95%;
  height: 95%;
  align-items: center;
  border-radius: 5px;
}

.left-button-container button:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.direct-messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-header {
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  width: 85%;
}

.dm-header p {
  padding-top: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.dm-header .add-sign {
  font-size: 25px;
  padding-top: 7px;
}

.add-sign:hover {
  color: white;
}

.dm-header .hovered {
  color: white;
}

.dm-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
  scrollbar-gutter: stable;
}

.dm-messages:hover {
  overflow-y: auto;
}

.personal-dm {
  height: 50px;
  width: 95%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292b2f;
  border: none;
  border-radius: 5px;
}

.personal-dm:hover {
  background-color: #34373a;
}

.pfp-circle {
  width: 32px;
  height: 32px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.pfp-container {
  flex-basis: 20%;
}

.user-info-dm {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--font-color);
  justify-content: center;
}

.user-name-dm {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.user-status-dm {
  font-size: 13px;
  margin-top: -4px;
  height: 10px;
}

.dm-delete-button {
  flex-basis: 15%;
  border: none;
  background-color: transparent;
  color: var(--font-color);
  font-size: 25px;
}

.dm-delete-button:hover {
  color: white;
}

.dm-delete-button p {
  margin-right: -25px;
}

.online-status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--status-online);
  position: relative;
  z-index: 2;
}

.online-status-outer {
  width: 18px;
  height: 16px;
  border-radius: 8px;
  position: relative;
  left: 18px;
  top: 18px;
  background-color: #292b2f;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(22, 22, 22, 0.642);
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
}

@keyframes white-blob-enter {
  from {
    height: 0;
    width: 0;
  }
  to {
    width: 18px;
    height: 20px;
  }
}

@keyframes white-blob-exit {
  from {
    width: 18px;
    height: 20px;
  }
  to {
    height: 0;
    width: 0;
  }
}

@keyframes white-blob-unclick {
  from {
    height: 40px;
    width: 18px;
  }
  to {
    height: 0px;
    width: 0px;
  }
}

@keyframes white-blob-clicked {
  from {
    height: 20px;
  }
  to {
    height: 40px;
  }
}

@keyframes logo-button-transition-enter {
  from {
    background-color: #313338;
    width: 66.5%;
    border: none;
    height: 68%;
    border-radius: 50%;
  }
  to {
    background-color: #5865f2;
    border-radius: 35%;
  }
}

@keyframes logo-button-transition-enter-2 {
  from {
    border-radius: 50%;
  }
  to {
    border-radius: 35%;
  }
}

@keyframes logo-button-transition-exit-2 {
  from {
    border-radius: 35%;
  }
  to {
    border-radius: 50%;
  }
}

@keyframes logo-button-transition-exit {
  from {
    background-color: #5865f2;
    border-radius: 35%;
  }
  to {
    background-color: #313338;
    border-radius: 50%;
  }
}

@keyframes logo-brightness-enter {
  from {
    filter: brightness(85%);
  }
  to {
    filter: brightness(100%);
  }
}

@keyframes logo-brightness-exit {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(85%);
  }
}
