* {
  box-sizing: border-box;
  margin: 0;
  --servers-section-size: 73px;
  --content-left-size: 240px;
  --section-divider-color: #0f101149;
}

.App {
  display: flex;
  background-color: #202225;
}

.servers {
  background-color: #202225;
  height: 100vh;
  width: var(--servers-section-size);
}

.content {
  background-color: #2f3136;
  height: 100vh;
  flex-basis: calc(100% - var(--servers-section-size));
  border-top-left-radius: 10px;
  display: flex;
}

.left {
  background-color: #292b2f;
  height: 100vh;
  border-top-left-radius: 10px;
  width: var(--content-left-size);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 1fr);
  grid-template-areas: "sic"
                       "fc"
                       "bc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "dmc"
                       "uic";
}

.right {
  flex-basis: calc(100% - var(--content-left-size));
  height: 100vh;
}

.search-input-container {
  grid-area: sic;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--section-divider-color);
}

.friends-container {
  grid-area: fc;
}

.birthday-container {
  grid-area: bc;
}

.direct-messages-container {
  grid-area: dmc;
}

.user-info-container {
  grid-area: uic;
}

.conversation-search {
  background-color: #16181a;
  flex-basis: 90%;
  height: 50%;
  border-radius: 5px;
  border: none;
  padding-left: 8px;
}

.conversation-search::placeholder {
  color: rgba(255, 255, 255, 0.505);
}
